.shopContainer {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.title {
  margin-top: 20px;
}

.productsGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  padding: 0 40px;
  gap: 20px;
  align-items: center;
}

.span {
  font-size: 14px;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 2rem;

  button {
    padding: 0.5rem 1rem;
    background-color: #ffffff;
    border: 1px solid $main-border-color;
    color: black;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;

    &:disabled {
      opacity: 0.5;
      cursor: default;
    }
  }
}

.product {
  display: flex;
  padding-top: 40px;
}
.descriptionInner {
  width: 50%;
  padding-left: 25px;
}
.nameProduct {
  font-size: 28px;
  font-weight: 600;
}
.price {
  font-size: 16px;
  font-weight: 700;
  color: $main-light-color;
}
.desc {
  font-size: 15px;
  font-weight: 500;
  .descText {
    display: block;
  }
}
.size {
  font-size: 15px;
  font-weight: 500;
}
.sku,
.categories {
  color: $text-description-light;
  font-size: 14px;
}
.descText {
  font-size: 14px;
  line-height: 1.5;
  margin-top: 10px;
  font-weight: 400;
  color: $text-description;
}
