.shopContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px 0 auto;
}

.title {
  margin-top: 20px;
}

.productsGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  padding: 0 40px;
  gap: 20px;
  align-items: center;
}

.placeholder {
  visibility: hidden;
  width: 240px;
  height: 300px;
}

.span {
  font-size: 14px;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 2rem;

  button {
    padding: 0.5rem 1rem;
    background-color: #ffffff;
    border: 1px solid $main-border-color;
    color: black;
    border-radius: 4px;
    font-size: 14px;
    transition: background-color 0.3s;
    cursor: pointer;

    &:disabled {
      opacity: 0.5;
      cursor: default;
      pointer-events: none;
    }

    &:hover {
      border: 1px dashed$main-border-color;
    }
  }
}
