.navigate-block {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px 0px 20px 0px;
}

.navigate-border {
  width: 1px;
  height: 15px;
  background-color: gray;
  margin: 0 10px 0 10px;
  border-radius: 5px;
}

.link {
  text-decoration: none;
  color: $second-text-light-color;
  transition: color 0.2s ease-in-out;
}

.link:hover {
  color: $main-light-color;
}

.active {
  color: $main-light-color;
}

@media screen and (max-width: 580px) {
  .navigate-block {
    margin-top: 20px;
  }
}
