// Light theme

$main-light-color: #46a358;
$main-light-color-hover: #3c904d;
$light-background-color: #ffffff;
// $main-text-light-color: #46a358;
$second-text-light-color: #727272;
$disable-light-color: #d2d2d2;

$google-btn-color: #4086f4;
$facebook-btn-color: #3b5999;
