@use './_vars' as *;
@import url('_fonts.scss');
@import url('_normalize.scss');

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  color: $title-color;
}

body {
  font-family: 'Cera Pro', sans-serif;
  font-size: 20px;
  min-width: 320px;
  min-height: 100vh;
  background-color: $light-background-color;
}

.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.layout main {
  flex: 1;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  @media (max-width: 500px) {
    padding-left: 10px;
    padding-right: 10px;
  }
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}
button {
  outline: none;
  border: none;
  cursor: pointer;
}
.button {
  border-radius: 6px;
  height: 35px;
  background-color: $main-light-color;
  font-weight: 500;
  font-size: 16px;
  color: #fff;
  padding: 8px 17px;
  column-gap: 5px;
  &:hover {
    background-color: $main-light-color-hover;
  }
}

.btn-logout {
  padding-left: 35px;
  background: url('/images/icons/logout-icon.svg') $main-light-color no-repeat
    9px center / 20px 20px;
  @media (max-width: 425px) {
    width: 35px;
    padding: 8px 10px;
    font-size: 0;
  }
}

.slider {
  width: 90%;
  height: 100%;

  .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90%;
    overflow: hidden;
    padding-bottom: 10px;
    cursor: pointer;
    img {
      height: 100%;
      object-fit: cover;
    }
  }
}

.sliderThumbs {
  width: 20%;
  height: 500px;
  padding: 10px 0;
  .swiper-wrapper {
    flex-direction: column;
    margin-top: -10px;
  }
  .swiper-slide {
    height: 25%;
    opacity: 0.4;
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
    img {
      height: 100%;
      object-fit: cover;
    }
  }
  .swiper-slide-thumb-active {
    opacity: 1;
  }
}

.swiper .swiper-button-next,
.swiper .swiper-button-prev {
  top: var(--swiper-navigation-top-offset, 95%);
  color: $main-light-color;
  transition: all 0.3s ease;
  &:hover {
    color: $main-light-color-hover;
  }

  &:after {
    font-size: 25px;
    font-weight: 700;
  }
}
.swiper .swiper-button-next {
  right: calc(50% - 60px);
}
.swiper .swiper-button-prev {
  left: calc(50% - 60px);
}
